<head th:fragment="title">
    <title>마이페이지</title>
</head>

<div th:fragment="content" class="mypage">
    <h1>마이페이지</h1>
    <img id="profile-image" alt="profile-image" src="" width="80px" height="80px"/>
    <br>
    <p id="nickname"></p><span id="icon"></span><span id="icon-title"></span>
    <br>
    팔로워<span id="follower-count"></span> 팔로잉<span id="following-count"></span>
    <br>
    <p id="introduce"></p>
    <br>
    <button >내 컨텐츠</button>
    <button >내 게시글</button>
    <button >스크랩</button>
    <br>
    <button id="edit-btn">프로필 편집</button>
    <button id="delete-btn">회원 탈퇴</button>
</div>