<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">기본 제목</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{__${content}__}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>

<!--전역에 사용할 js-->
<script defer src="/js/header.js"></script>
<script defer src="/js/secureFetch.js"></script>

</body>
<script defer th:if="${script}" th:src="@{${script}}"></script>
</html>
