<head th:fragment="title">
    <title>Payment Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div th:fragment="content" class="payments-body" th:data-imp-code="${@environment.getProperty('imp.code')}">
    <body>
    <!-- 구독권 선택 버튼 -->
    <button id="plan1Month" data-period="1" data-price="100" data-name="1개월 구독">1개월 구독 (100원)</button>
    <button id="plan3Month" data-period="3" data-price="101" data-name="3개월 구독">3개월 구독 (101원)</button>
    <button id="plan6Month" data-period="6" data-price="102" data-name="6개월 구독">6개월 구독 (102원)</button>

    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script defer th:src="@{/js/payments.js}"></script>
    </body>
</div>